# Enable Rewrite Engine
RewriteEngine On

# Route /admin to admin.html
RewriteRule ^admin$ /admin.html [L]

# Fallback to index.html for all other routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
