# Enable Rewrite Engine
RewriteEngine On

# Route /home to home.html
RewriteRule ^home$ /home.html [L]

# Route /editProfile to editProfile.html
RewriteRule ^editProfile$ /editProfile.html [L]

# Route /main to main.html
RewriteRule ^main$ /main.html [L]

# Fallback to index.html for all other routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
